# pornhub 用户 ID（！待填写）
USER_ID="xxxxxxx"
# 要使用的 cookies文件路径（！待指定）
COOKIE_FILE="./cookies.txt"
# 视频下载保存目录
DOWNLOAD_PATH="./vedio"
# 收藏夹信息保存文件
HUB_INFO_FILE=${DOWNLOAD_PATH}"/favorites.txt"
# 视频信息保存文件
VEDIO_INFO_JSON=${DOWNLOAD_PATH}"/vedio_info.json"
VEDIO_INFO_CSV=${DOWNLOAD_PATH}"/vedio_info.csv"
